[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig

[user]
	name = Colin Thomas
	email = colin@avaamo.com

[core]
	editor = nvim
	pager = delta
	excludesFile = "~/.gitignore"

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	hyperlinks = true
	line-numbers = true
	side-by-side = false
	navigate = true

[diff]
	tool = delta


[merge]
	conflictstyle = zdiff3

[color]
	ui = auto

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = !git fetch && git status
	diff-changes = diff --name-status -r
	diff-stat = diff --stat --ignore-space-change -r
	diff-staged = diff --cached
	diff-upstream = !git fetch origin && git diff main origin/main
